.show
  .images
    .top-image
      .sample
      -# %img{:src => "./images/yakiudon.jpg"}
    %br
    .low-image
      .sample2
      %br
      .sample2
      %br
      .sample2
      %br
      .sample2
  
  .text
