.index {
  // padding-top: 100px;
  text-align: center;
  // font-weight: bold;
  background-color: #C4C4C4;
  width: 850px;
  height: 100vh;
  margin: auto;
  overflow: scroll;
  padding: 50px 10px 30px;

  .explanation {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: black;
    background: #F8F0C9;/*背景色*/
    border-top: solid 6px #FFEF9D;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/

    .title {
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 10px;
    }
  }

  .search {
    padding-bottom: 20px;

    .search-form {
      text-align: center;
  
      .search-field {
        padding: 0 5px;
        width: 300px;
        height: 30px;
      }
  
      .btn {
        background-color: #FFEF9D;
        height: 30px;
      }
    }
  }

  .pick-up {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
  }

  .list {
    display: flex;
    justify-content: center;
    margin-right: 15px;

    .upper-list {

      a {
        text-decoration: none;
        color: black;
  
        .image {
          margin-left: 20px;

          .recipe-name {
            font-size: 20px;
          }
        }
      }
    }
  }
}