.index {
  padding-top: 100px;

  .search-form {
    text-align: center;

    .search {
      padding: 0 5px;
    }

    .btn {
      background-color: #FFEF9D;
    }
  }

  .list {
    padding: 50px 40px;
    margin: 0 auto;

    .image {

    }
    .recipe-name {
      
    }
  }
}