.new {
  padding-top: 60px;
  text-align: center;
  // font-weight: bold;
  background-color: #C4C4C4;
  width: 850px;
  height: 100vh;
  margin: auto;
  overflow: scroll;

  .file_select {
    width: 600px;
    height: 300px;
    background-color: #AEABAB;
    margin: auto;
    // line-height: 300px;

    .file-field {
      margin-bottom: 10px;
    }

    #recipe_images {
      // display: none;
    }

    .image-preview {
      display: flex;
      justify-content: center;

      .preview {
        margin-top: 20px;
        
        img {
          height: 150px;
          width: 150px;
          margin-left: 10px;
        }
      }

    }
  }

  .categories {

    #recipe_category {
      height: 30px;
      width: 100px;
    }
  }

  .source {

    .recipe-source {
      height: 30px;
    }
  }

  .howto {
    label {
      display: none;
    }
  }

  .send-btn {
    .btn {
      width: 300px;
      height: 30px;
      border-radius: 10px;
      background-color: #FFEF9D;
    }
  }
}