.new {
  padding-top: 60px;
  text-align: center;
  // font-weight: bold;
  background-color: #C4C4C4;
  width: 850px;
  height: 100vh;
  margin: auto;
  overflow: scroll;

  .file_select {
    width: 600px;
    height: 300px;
    background-color: #AEABAB;
    margin: auto;
    // line-height: 300px;

    #recipe_images {
      // display: none;
    }
  
  }

  .categories {

    #recipe_category {
      height: 30px;
      width: 100px;
    }
  }

  .howto {
    label {
      display: none;
    }
  }

  .send-btn {
    .btn {
      width: 300px;
      height: 30px;
      border-radius: 10px;
      background-color: #FFEF9D;
    }
  }
}