.select {
  padding-top: 60px;
  text-align: center;
  // font-weight: bold;
  background-color: #C4C4C4;
  width: 850px;
  height: 100vh;
  margin: auto;
  overflow: scroll;

  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-top: 30px;

    .upper-list {

      a {
        text-decoration: none;
        color: black;
  
        .image {
          margin-left: 20px;

          .recipe-name {
            font-size: 20px;
          }
        }
      }
    }
  }
}