.show {
  padding-top: 60px;
  // text-align: center;
  // font-weight: bold;
  background-color: #C4C4C4;
  width: 850px;
  height: 100vh;
  margin: auto;
  overflow: auto;

  .images {

    .top-image {
      text-align: center;

      img {
        width: 50%;
        height: auto;  
      }
    }
  }

  .text {
    background-color: white;
    width: 670px;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px 20px;

    .title {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }

    .separate-line {
      border-bottom: solid 2px #FFEF9D;
    }

    .materials {
      margin-bottom: 10px;
      padding: 10px 0;
      font-size: 20px;
      font-weight: bold;
    }

    .material-list {
      margin-bottom: 10px;

      .material {
        margin-bottom: 5px;
      }
    }

    .recipe {
      padding: 10px 0;
      font-size: 20px;
      font-weight: bold;
    }

    .references {
      margin-bottom: 10px;
    }

    .howto {
      margin-bottom: 5px;
    }

    .separate-line2 {
      border-bottom: dotted 2px #FFEF9D;
    }

    .user-name {
      text-align: right;
      margin-top: 10px;
    }
  }

  a {
    text-decoration: none;
    color: black;

    .btn {
      margin: auto;
      background-color: #F8F0C9;
      height: 50px;
      width: 500px;
      font-size: 20px;
      line-height: 50px;
      border-radius: 10px;
      margin-top: 10px;
      text-align: center;
    }
  }

  .comments {
    padding-top: 30px;
    text-align: center;

    .comment-form {
      height: 100px;
      width: 450px;
      padding: 5px 10px;
    }

    .send-btn {
      width: 300px;
      height: 30px;
      border-radius: 10px;
      background-color: #FFEF9D;
    }
  }
}