.sign_up {
  padding-top: 60px;
  background-color: #C4C4C4;
  width: 850px;
  height: 100vh;
  margin: auto;
  overflow: auto;

  .title {
    text-align: center;
  }

  .form {
    
    .nickname-field {
      margin: auto;
      height: 30px;
      width: 100px;
    }
  }
}