.mypage {
  padding-top: 60px;
  text-align: center;
  // font-weight: bold;
  background-color: #C4C4C4;
  width: 850px;
  height: 100vh;
  margin: auto;
  overflow: scroll;

  .title {
    font-size: 25px;
  }

  .list {
    display: flex;

    a {
      text-decoration: none;
      color: black;

      .image {
        margin: 10px 0 0 10px;
      }
    }
  }
}